.form-personal-info-section {
    form {
        // border: 1px solid red;
        legend {
            // display: inline-block;
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .name-info{
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        grid-gap: 20px;
        label,input {
            display: block;
        }
        input{
            width: 100%;
            margin-top: 0.5rem;
        }
    }
    
}
.first-name{
    display: grid;
    justify-content: center;
}
.middle-name{
    display: grid;
    justify-content: end;
}
.name-info{
    margin: 2rem 0;
}

.address-info {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    grid-gap: 20px;
    margin: 2rem 0;
    label,input {
        display: block;
    }
    input {
        width: 100%;
        margin-top: 0.5rem;
    }
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    grid-gap: 20px;
    label,input {
        display: block;
    }
    input {
        width: 100%;
        margin-top: 0.5rem;
    }
}

.social-link {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 2rem 0;
    label,input,select{
        display: block;
    }
    select,input{
        width: 100%;
        margin-top: 0.5rem;
    }
    select {
        padding: 0.2rem 0;
    }   
}

.hero-form {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
}

.personal-ifo-btn {
    text-align: center;
    margin: 2rem 0;
    input {
        padding: 0.5rem 2rem;
    }
}

